/* body {
  margin: 0; */
  /* font-family: 'Architects Daughter', cursive; */
  /* font-family: 'Merienda', cursive; */
  /* font-family: 'Syncopate', sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
/* } */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
/* } */
#root {
  font-family: 'Syncopate', sans-serif;
  background-color: rgb(185, 220, 207);
  display: flex;
  flex-direction: column;
  margin: 0;
  z-index: 1;
  min-height: 100vh;
  text-align: center;
}

#navbar {
  background-color:rgb(25, 42, 25);
}

.asanaCards {
  width: 75%;
  display: inline-block;
  margin: 10px 0px 10px 0px;
}

.flex-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card-body {
  background-color: rgb(25, 42, 25);
  color: whitesmoke;
  text-align: center;
}

.cardImages {
  background-color: rgb(25, 42, 25);
  border: 5px solid black;
}

/* .routinePage {
} */

/* .buildPractice {
  position: absolute;
  top: 100px;
} */

.practiceCard {
  height: 150px;
  width: 300px;
  background-color: rgb(25, 42, 25);
  margin: 10px;
  color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
}

.practicePane {
  border: 5px solid black;
  border-radius: 10px;
  position: absolute;
  top: 80px;
  left: 75%;
  text-align: center;
  margin: 10px;
  width: 25%;
}

.pageTitle {
  padding: 15px;
  font-weight: 550;
}

.practice {
  list-style-type: none;
}

.poseDetail {
  height: 600px;
  width: 600px;
}

#dropdown-basic-button {
  margin-bottom: 50px;
  align-items: center;
}

.addedCards {
  width: 70px;
  height: 70px;
}

.cards {
  margin: 10px 0px 10px 0px;
}

/* .pageTitle {
  text-align: center;
} */



.difficulty {
  display: block;
  left: 50%;
}

.profilePic {
  height: 75px;
  width: 75px;
}